/* body{
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 1em;
} */

 /* CSS DESCUENTO S/ %  */
.contenedor-tipo-documento{
    position: relative;
    width: 70px;
    /* background:rgb(37, 190, 44); */
    height: 29px;

 }
.contenedor-tipo-documento input{
    display:none;


 }
.contenedor-tipo-documento label{
   position: absolute;
   width: 40px;
  padding : .2em;
   background-color: rgb(69, 79, 160);
   font-size: 1em;
   border-radius:  2em;
   color: #fff;
   text-align: center;
   cursor: pointer;

 }
 
.contenedor-tipo-documento #dni{

    background-color: rgb(44, 209, 52);
    border-radius: 2em 0em 0em 2em;
    border-left: 8px solid rgb(28, 155, 3);;
   
 }
.contenedor-tipo-documento #ruc{
    left: 38px;
    border-radius: 0em 2em 2em 0em;
    background-color: rgb(172, 172, 172);


 }
 .on{
    background-color: rgb(44, 209, 52) !important;
 }
 .on-por{
    background-color: rgb(44, 209, 52) !important;
    border-right: 8px solid rgb(28, 155, 3);
 }
 .off{
    background-color: rgb(172, 172, 172)  !important;
    border-style: none !important;
 }
 .table-condensed .off{
    background-color: rgb(245, 245, 245)  !important;
    border-style: none !important;
 }
 /* FIN CSS DESCUENTO S/ %  */
